@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('images/clinica-backgroud.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    
    padding: 10px 20px 0px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.content {
    
    min-height: 300px;
    padding: 20px;
}
.footer {
    min-height: 150px;
}

.logo{
    font-size: 32px;
    color: #fff; 
    text-decoration: none; 
    font-weight: 700; 
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #2b2b2b;
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;
}